
*{
    /* outline:2px solid red; */
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
body{
    background-color:black;
    display:flex;
    flex-direction:column;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}
/* default to make editing smoother */

 #section1{
    height:550px;
    background-color:#1f2937;
}
/*header stuff*/
#header{
    margin: 0 auto;
    display:flex; 
    padding-bottom: 15px;
    width:1000px;
    height:fit-content;
    justify-content: space-between;
    align-items: center;
}
/* just to round and size the logo image */
#face{
    border-radius: 50%;
    width:auto;
    height:100px;
}
/**/
#header-links{
    height:fit-content;
    display:flex;
    gap:20px;
}
 a,#comment{
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
  }
/* new container for hero stuff so we can centre */
#container-hero{
    padding-top:50px;
    display:flex;
    width:1000px;
    height:300px;
    margin:0 auto;
    gap:30px;
}
#hero-text #main-text{
    font-size: 48px;
    padding-bottom: 10px;
    font-weight: 900;
    color:#F9FAF8;
}
/* button i didnt use a traditional button because i wanted to link somewhere */
#button-link{
    padding: 5px 25px;
    margin-top:10px;
    border-radius: 5px;
    color:#F9FAF8;
    font-weight: 900;
    font-size:18px;
    display: inline-block;
    background-color:#3882f6;
    border:0;
}
#hero-text{
    flex:1;
}
#hero-image img{
    width: 600px;
    height: 100%;
    flex:1.5;
    object-fit: cover;
    object-position: 50% 8%;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ start of section 2 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#section2{
    background-color:white;
    height:500px;
}
#info-header{
    text-align: center;
    font-size: 36px;
    font-weight:900;
    margin:50px;
    color:#1f2937;
}
#container-images{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.info-box{
    display:flex;
    flex-direction: column;
    width:175px;
    height:250px;
    border-radius: 15px;
}
.info-box .info-image{
    border-radius: 15px;
    height:175px;
}
.info-box p{
    text-align: center;
}
/* $$$$$$$$$$$$$$$$$$$$$$$ start of section 3 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
#section3{
    background-color:#E5E7EB;
    display:flex;
    align-items: center;
    justify-content: center;
    height:400px;
    flex-direction: column;

}
#section3 #quote-text{
    width: 1000px;;
    font-size:36px;
    color:#1f2937;
    font-style: italic;
    font-weight:lighter;
}
#section3 #author{
    width:1000px;
    text-align: right;
    font-size: 36px;
    color:#1f2937;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$ section 4 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
#section4{
    background-color:white;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#action{
    display:flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    height:150px;
    border-radius:10px;
    width:1000px;
}
#action-text{
    width:650px;
    color:#F9FAF8;
    font-size:24px;
}
#action-text p{
    font-size:18px;
}
#action-text header{
    font-weight:600;
}
#action-signup{
    border-radius: 5px;
    padding: 5px 25px;
    color:#F9FAF8;
    font-weight: 900;
    font-size:18px;
    border:2px solid #F9FAF8;
    background-color:#3882f6;
}
footer{
    padding:40px;
    color:#F9FAF8;
    text-align: center;
    align-items: center;
    background-color: #1f2937;
}